@tailwind base;
@tailwind components;
@tailwind utilities;

tr {
  display: flex;
  flex-direction: row;
  gap: 2;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2;
}

th {
  flex: 1;
}

td {
  flex: 3;
}

td a {
  color: #d97706;
  text-decoration: none;
}